.chatbot-modal {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 24rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.chatbot-modal .flex-grow {
  height: calc(100% - 110px);
}